<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="stylesheet" type="text/css" href="../forgot-password.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <h1 class="forgotpass-header" style="font-size: 25px; position: relative; top: -10px; font-family: 'Lexend Deca', sans-serif;">Reset Password</h1>
            <p class="info" style="font-family: 'Montserrat', sans-serif;">An Email will be sent to your email account for resetting the password</p>
            <% if (errorMessage) { %>
                <label style="color: red;"><%= errorMessage %></label>
            <% } %>
            <form class="input-form" action="/forgot-password" method="post">
                <input type="text" placeholder="Email" class="email-field" name="email" required>
                <button class="send-btn">Send email</button>
            </form>
        </div>
    </div>
</body>
</html>