<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
    <div class="left">
        <div class="left-container">
            <h1 class="login-header">Login</h1>
            <form class="input-form" action="/" method="post">
                <input type="text" placeholder="Username" class="username-field" name="username" required>
                <input type="password" placeholder="Password" class="password-field" name="password" required>
                <a href="#" style="text-decoration: none; color: gray;"><p class="forgot-pass">Forgot your password?</p></a>
                <a href="/"><button class="login-btn">Log in</button></a>
                <p style="color: gray;">OR</p>
                <p class="underline">____________________</p>
            </form>
            <a href="/signup"><button class="signup-btn">Sign up</button></a>
        </div>
    </div>
    <div class="right">
       <div class="right-container">
            <h1 class="h1-right">To-do List App</h1>
            <p class="introduction">Welcome to our to-do list application! We're here to help you stay organized, focused, and on top of your tasks. To get started, please log in to your account or create a new one if you're new here. Let's make managing your tasks a breeze!</p>
       </div>
    </div>
</body>
</html>