<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../reset-password.css">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@800&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>Reset password</title>
</head>
<body>
    <div class="main">
        <div class="password-reset-card">
            <h1 style="color: black; font-family: 'Lexand Deca', sans-serif; text-align: center;">Choose a new password</h1>
            <% if (errorMessage) { %>
                <label style="color: red;"><%= errorMessage %></label>
            <% } %>
            <form class="input-form" action="/reset-password" method="post" onsubmit="return validatePasswords()">
                <input type="text" placeholder="Username" class="username-field" name="username" required>
                <input type="password" placeholder="Password" class="password-field" id="pass" name="password" required>
                <input type="password" placeholder="Confirm password" class="confirmpass-field" id="confirmPass" name="confirmpass" required>
                <input type="text" placeholder="Verification code" class="verify-field" name="verificationCode" required>
                <button class="reset-btn">Reset password</button>
            </form>
        </div>
    </div>
    <script src="/validatePasswords.js"></script>
</body>
</html>