<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../reset-password.css">
    <title>Reset password</title>
</head>
<body>
    <div class="main">
        <div class="password-reset-card">
            <h1 style="color: black; padding: 50px;">Choose a new password</h1>
            <form class="input-form" action="/reset-password" method="post">
                <input type="text" placeholder="Username" class="username-field" name="username" required>
                <input type="password" placeholder="Password" class="password-field" name="password" required>
                <input type="password" placeholder="Confirm password" class="confirmpass-field" name="confirmpass" required>
                <input type="text" placeholder="Verification code" class="verify-field" name="verificationCode" required>
                <button class="reset-btn">Reset password</button>
            </form>
        </div>
    </div>
</body>
</html>