body {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
}

.right {
    width: 50%;
    background-color: orangered;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    float: right;
    display: flex;
    justify-content: center;
}

.left-container {
    text-align: center;
    width: 400px;
}

.right-container {
    text-align: center;
}

.username-field,
.password-field {
    display: block;
    margin: 0 auto;  
    padding: 12px;
    width: 70%;
    border: 0px;
    margin-top: 20px;
    background-color: lightgray;
}

.login-btn {
    border-radius: 13px;
    margin-top: 20px;
    width: 150px;
    font-size: 15px;
    border: 0px;
    color: white;
    background-color: #FF4500;
    height: 40px;
}

.underline {
    position: relative;
    top: -30px;
    color: gray;
}

.signup-btn {
    border-radius: 13px;
    width: 150px;
    font-size: 15px;
    border: 0px;
    color: white;
    background-color: #FF4500;
    height: 40px;
    position: relative;
    top: -25px;
}

.signup-btn:hover, .login-btn:hover {
    background-color: #cc3d00;
    cursor: pointer;
}

/* CSS for Mobile Devices */

/* General styles remain the same */

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .left,
    .right {
        width: 100%;
        position: static;
        display: block;
    }

    .left-container,
    .right-container {
        width: 100%;
        text-align: center;
    }

    .login-header {
        margin-top: 50px;
        font-size: 30px;
    }

    .signup-header {
        margin-top: 75px;
        font-size: 40px;
    }

    .introduction {
        padding: 20px;
        font-size: 16px;
    }

    .username-field,
    .password-field {
        width: 90%;
        margin-top: 15px;
    }

    .login-btn,
    .signup-btn {
        width: 120px;
        font-size: 13px;
        height: 35px;
        top: -20px;
    }

    .underline {
        top: -20px;
    }
}
