body {
    background-color: orangered;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.password-reset-card {
    text-align: center;
    margin-top: 150px;
    padding: 25px;
    background-color: white;
    border-radius: 20px;
    width: 500px;
}

.username-field,
.password-field,
.confirmpass-field,
.verify-field {
    display: block;
    margin: 0 auto;  
    padding: 12px;
    width: 70%;
    border: 0px;
    background-color: lightgray;
    margin-top: 20px;
}

.reset-btn {
    border-radius: 13px;
    margin-top: 30px;
    width: 150px;
    font-size: 15px;
    border: 0px;
    color: white;
    background-color: #FF4500;
    height: 40px;
}

.reset-btn:hover {
    background-color: #ff4400a9;
}