body {
    background-color: white;
}

.main {
    margin: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 40%;
    width: 100%;
    background-color: orangered;
    text-align: center;
}

.password-reset-card {
    margin: auto;
    background-color: whitesmoke;
    margin-top: 150px;
    height: 140%;
    border-radius: 20px;
    width: 35%;
}

.username-field {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.password-field {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.confirmpass-field {
    display: block;
    margin: 0 auto;
    margin-top: 20px;

}

.verify-field {
    display: block;
    margin: 0 auto;
    margin-top: 20px;

}

.reset-btn {
    margin-top: 40px;
}